langchain
openai
python-dotenv
requests
langchain-community
langchain-core
ipykernel
pypdf
pypdf2
wikipedia-api
pandas
openpyxl    
langchain-agentql
boto3
langchain-openai
tiktoken
langchain-aws
beautifulsoup4
sentence-transformers
chromadb
langchain-groq